.draggable{
    width: 5%;
    height: 20px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    border:0.16em solid rgba(255, 255, 255, 0);
    border-radius:2em;
    background-color: #e0f376;
    padding:0.5em 3em;
    margin:0 0.1em 0.1em 0;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
}

body{
    background-image: linear-gradient(to right, rgba(245, 227, 227, 0.856) , rgb(235, 235, 194))
}

button{
    padding:0.5em 3em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255, 255, 255, 0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: rgb(231, 117, 117);
    text-decoration:none;
    text-transform: uppercase;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}
button:hover{
    border-color: rgb(20, 11, 11);
    cursor: pointer;
}
button:active {
    background-color: #e0f376;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
    }
}

h1{
    float:inline-start;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: larger;
    font-weight: bold;
    font-display: center;
}

h2{
    float: inline-start;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    font-family: 'Roboto',sans-serif;
    font-size: large;
    font-weight: bold;
    font-display: center;
}

button1{
    padding:0.5em 3em;
    margin:0 0.1em 0.1em 0;
    border:0.2em solid rgba(255, 255, 255, 0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #f3ffae;
    text-decoration:none;
    text-transform: uppercase;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}

h4{
    position: relative;
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    font-size: larger;
    font-weight: bold;
    font-display: center;
}

canvas{
    width:500px;
    height:200px;
    align-items: center;
}
